!.env-dev.example
!.env-prod.example
!Seed_data/README.org
!Seed_data/build_targets
*#*
*.crt
*.key
*.png
*.pyc
*cache*
*tests/*txt
*~
.env*
.git/*
.htpasswd
.python-version
.secrets*
DONE.org*
Docs
Seed_data
TODO.org*
_test.repl.org*
codo-tuth-env/
db.sqlite3*
db_test*
logs/*
media/
nginx/*
node_modules
package*json
static/*
test_import.py
