*dump
*#*
*.crt
*.key
*.png
*.pyc
*cache*
*tests/*txt
*tmp.org
**/migrations/*.py*
**/migrations/__init__.py
*tmp.py
*tmp.log
*~
.env*
.git/*
.htpasswd
.python-version
.secrets*
DONE.org*
Docs
Seed_data/*
TODO.org*
_test.repl.org*
codo-tuth-env/
db.sqlite3*
db_test*
logs/*
media/*
nginx/*
node_modules
package*json
static/*
test_import.py
!.env-dev.example
!.env-prod.example
!Seed_data/
!Seed_data/README.org
!Seed_data/build_import_targets
!Seed_data/parsing_db.org
