.python-version
Docs
*.png
media/
test_import.py
*#*
*.crt
*.key
*.pyc
*~
.env*
.htpasswd
*cache*
*migrations*
Seed*
_test.repl.org
db.sqlite3
db_test*
.git/*
codo-tuth-env/
logs/*
*log*
nginx/*
static/*

*tests/*txt

!.env-dev.example
!.env-prod.example